# Ignore local vehicle data JSON
geotab_full_export.json
# Python
__pycache__/
*.py[cod]
.env
.venv/

# Node
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDEs
.vscode/
